@media only screen and (max-width:6000px){
	.menu-bar {
		left: 37%;
	}
	
	
	
}
@media only screen and (max-width: 5000px){
	.menu-bar {
		left: 33%;
	}
			.highlight-section .container{
	background:none;
	background-position: unset;
    background-size: unset;
	position:relative;
	left:-4%;
	}

	.highlight-section .bg-w{
		background:url(../images-stage/black-sign.png) no-repeat right center;
	background-position: 527px 0;
    background-size: 1185px 482px;
	width:1700px;
	}

	
}
@media only screen and (max-width: 3000px){
	.menu-bar {
		left: 25%;
	}
		.client-box{
		width:90%;
	}
	
}
@media only screen and (max-width: 2800px){
	.menu-bar {
		left: 25%;
	}
	.highlight-section .bg-w{
	background:url(../images-stage/black-sign.png) no-repeat right center;
	background-position: 414px 0;
    background-size: 1185px 482px;
	width: 1585px;
}
	
	
}
@media only screen and (max-width: 2500px){
	.menu-bar {
		left: 17%;
	}
	
	
}
@media only screen and (max-width: 2000px){
	.menu-bar {
		left: 11%;
	}
	.content-box{
		padding:0 5rem;
	}
	.highlight-section .bg-w{
	background:url(../images-stage/black-sign.png) no-repeat right center;
	background-position: 504px 0;
    background-size: 1185px 482px;
    width: 1700px;
	}

	
}

@media only screen and (max-width: 1600px){


	.menu-bar {
		left: 7%;
	}
	.content-box{
		padding: 0rem 0 0 2rem;
	}
		.client-box{
		width:90%;
	}
	.content-box {
     padding: 0 0rem;
	}
	#carousel-client .owl-stage-outer {
	height: 411px;
	overflow: hidden; /* Add this line to hide the overflow */
	}
	.owl-dots {
		padding-top: 0px;
	}

	
	
}

@media only screen and (max-width: 1400px){
	.highlight-section .bg-w{
		width:1400px;
	
	}
	.highlight-section .container{
		width:1181px;
			background:none;
	background-position: unset;
    background-size: unset;
	}

	.container {
		max-width: initial;
		width:100%;
	}
	.menu-bar {
		left: 1%;
	}
	#carousel-client .owl-item.big-slide {
		width: 324px !important;
		height: auto;
	}
	.top-navigation li a {
    font-size: 2rem;
	}

#carousel-client .owl-stage-outer {
  height: 415px;
  overflow: hidden; /* Add this line to hide the overflow */
}
.ourservice-section .box:nth-child(n+2) {
    margin-left: calc(15px * var(--n));
}	
.owl-dots {
    padding-top: 0px;
}
	
}
@media only screen and (max-width: 1200px){
	.client-say {
    height: 65vh;
	}

	.inner-banner-content {
    width: 100%;
	}
	.reasons-box{
		height:310px;
	}
	.abroadworks-process{
		padding:0 .5rem;
	}
	#carousel-client .owl-item.big-slide {
    right: 63px;
	}
	.client-box{
		padding:1rem 0px 1rem 1rem
	}
	.reasons.owl-carousel .owl-item img {
    width: auto;
	}
}

@media only screen and (max-width: 1024px){
 .tab-pad{
	 padding: 60px 18px;
 }
 .blue-box {
    width: 70px;
    height: 70px;

	}
	.black-box {
    width: 70px;
    height: 70px;
	}
}
@media only screen and (max-width: 992px){
	.highlight-section .container{width:100%;    left: 0;}
	.highlight-section .bg-w{width:100%;}
	.inner-banner img {
		height: auto;
	}
		.inner-banner-text-bg {
		padding: 6px 6px 6px 26px;
	}
	h1{
		font-size:2.813rem;
	}
	.proces-box {

		padding-right: 2rem;
	}
	.inner-banner-content {
		width: 70%;
	}
	h2.inner-banner-text-bg{
		font-size: 0.813rem;
	}
	.top-navigation li a, .social-icon ul li a{
		font-size: 1rem;
	}
	.overlay-content {
    left: 18%;
	width: 87%;
	}
	.left-menubar {
    width: 52px;
	}
	.left-menubar .closebtn img{width:20px;}
	.menu-footer{
		flex-direction: column
	}
	.menu-footer .text-end{
		text-align:center !important;
		padding:0 3px;
	}
	h2 {
    font-size: 1.813rem;
	}
	h3 {
		font-size: 1.4rem;
	}
	.font-xl-lg {
    font-size: 3.625rem;
	}
	.padding-60 {
    padding: 10px;
	}
	.left-menubar {
    width: 70px;
	}
	.left-menubar .logo img {
		width:100%;
	}
		.box-hold-tab{width:70%; margin:auto;}
	
}



@media only screen and (max-width: 768px){
	.fs-5 {
		font-size: 1rem!important;
	}
	#carousel-client .client-slidebox{box-shadow: 3px 3px 24px -11px rgba(0,0,0,0.74); padding:15px; margin:0;}
	.client-name::after{background-size: contain;
    width: 115px;
    height: 115px;}
	.reasons .owl-prev{
	background: url(../images-stage/whitearrow-left.png) no-repeat right !important;
	width:25px;
	height:54px;
}
.reasons .owl-next{
	background: url(../images-stage/whitearrow-right.png) no-repeat right !important;
	width:25px;
	height:54px;
}
	.tab-pad{
	 padding: 0;
 }
	.equal-space {
    margin: 0 2.2rem;
}
	.box-hold-tab{width:70%; margin:auto;}
	.reasons.owl-carousel .owl-item img{width: auto;}
	.ourservice-section .box{
		margin-left: 4%;
	}
	.ourservice-section .box:nth-child(n+2){
		margin-left: 4%;
	}
	.menu-bar {
		left:25px;
	}
	.ourservice-section .box h4{
		font-size:16px;
		    margin-bottom: 1rem;
	}
	#carousel-client .owl-item {
    opacity: .4;
	}
	.tab-flex-column {
		flex-direction: column!important;
	}
	.backdrop svg {
    width: 453px;
	}
	.proces-section.spacing-section{
    padding: 5rem 0 0 0;
	}
	.proces-box .card-body p{font-size:.813rem; margin:0;}
	#pills-tab .nav-link.active{
		min-width: unset;
	}
	#pills-tab .nav-link.active{ height: 80px;}
	#pills-tab .nav-link{height: 80px;}
	#pills-tab .nav-link {
		font-size: 14px;
		line-height: 18px;
		min-width: unset;
		    margin: 0;
	}

	.client-box {
    width: 100%;
    margin-left: 0;
    position: inherit;
    min-height:inherit;
}
		.content-box h2 br{
			display:none;
		}
		.ourservice-section .box .list-unstyled li::before{top: 7px;}
		.abroadworks-process{
		display:flex;
		    flex-wrap: nowrap;
	}
	.abroadworks-process.scrollable{margin-left:1.2rem;}
	.reasons-section.spacing-section{padding: 2rem 0;}
	.ourservice-section.spacing-section{ padding:2rem 0;}
	#carousel-client .owl-dots{
		padding-top: unset;
    	margin-right: unset;
    	text-align: center;
	}
	#carousel-client  .owl-dots button.owl-dot.active{
		border: 1px solid var(--bs-white) !important;
	}
	.abroadworks-process .process {
		width: 253px;
		flex: none;
	}
	.scrollable {
    
		flex-wrap: nowrap;
		overflow-x: auto;
		padding-bottom: 44px;
	}
	.banner-section .top-logo{
		position:absolute;
		right: 25px;
       top: 22px;
	}
	
		/* new add */
		.about-company {clip-path: polygon(0% 0%,100% 5%,100% 100%,0% 100%);}
		.font-44{font-size:20px;}
		.banner-section h4{font-size:1rem;}
		.banner-section h1{font-size:2.188rem;}
	.highlight-section .bg-w{background-position: bottom right -50px; background-size: 110% auto;}
	.spacing-section{ padding:2rem 0; }
	.client-say {
		height: auto;
		padding: 2rem 15px 2rem 15px;
	}
	#carousel-client .active.center{left:0;}
	#carousel-client .owl-item.active{margin-left:0; padding:15px;}
	.reasons .owl-nav{top:40%; left:0;}
	.reasons .owl-nav .owl-next, .reasons .owl-nav .owl-prev{    width: 20px;
    height: 48px;
    background-size: contain !important;}
    .reasons-section .reasons{ margin:0; }
}
@media only screen and (max-width: 576px){
	.banner-section h1{font-size:2rem;}
	.client-box .content-box p{ line-height: 17px;
    font-size: 14px;}
	.box-hold-tab{width:100%;}
	.blue-box {
    width: 60px;
    height: 60px;
	
	}
	.black-box {
		 width: 60px;
		height: 60px;
	}
	.equal-space {
    margin: 0 1.6rem;
}
	.left-menubar {
    width: 52px;
	}

	#business .form-control, #applicant .form-control {	
    height: 47px;
	}
	#business textarea.form-control, #applicant textarea.form-control{
		height: 150px;
		margin-bottom:20px;
	}
	.mob-flex-column {
		flex-direction: column!important;
	}
		h2{font-size:20px;}
	/*.client-say {
		height: 90vh;
	}*/
	#carousel-client .owl-stage-outer {
    height: 364px;
	}
	.content-box {
    padding: 0rem 0 0 0rem;
	}
	/*.menu-bar{
	
		left:6%;
	}*/
	.backdrop {
		top: 0rem;
		right: -1rem;
	}
	.backdrop svg{
		width:300px;
		height:209px;
	}
	.banner-section h1{margin-top: 4rem;}
	.mob-position-relative {
		position:relative !important;
	}
	.mob-position-absolute {
		position:absolute !important;
	}
	.fs-7 {
    font-size: 2.5rem;
	}
	.left-menubar {
		width: 50px;
	}
	.top-navigation li a {
		font-size: 1.8rem;
	}
	.left-menubar .closebtn img{
		width:30px;
	}
	.mob-font-xs{
	font-size:0.813rem;/*13px*/	
	}
	.mob-font-md{
	font-size:1.25rem;/*20px*/		
	}
	.font-md{
	font-size:0.875rem;/*14px*/		
	}
	.font-lg {
    font-size: 30px;
	}
	.proces-section {
		clip-path: polygon(100% 0%,100% 100%,0 118%,0% 8%);
	}
	.trusted-by.spacing-section {
		padding: 1rem 0 0;
	}
	.ourservice-section .box{ margin-bottom:20px; }
	.ourservice-section .box:last-child{ margin-bottom:0; }
	.ourservice-section .box, .ourservice-section .box:nth-child(n+2), .ourservice-section .box:nth-child(n+3),.ourservice-section .box:nth-child(n+4){
		width:100%;
		margin-left:0;
	}
	.client-box {
		background-color:transparent;
		width: 100%;
		text-align:center;
		margin-left:unset;
		padding:0;
		box-shadow: unset;
	}
	.client-box h2{
		font-size:20px;
	}
	#carousel-client .owl-item.big-slide {
		left: 18px;
	}
	.client-slidebox {
   
		margin-left: 6px;
	}
	.client-say::after {
		left:0;
		margin-top: 190px;
		height: 280px;
		transform: skewY(30deg);
	}
	.client-slidebox {
		background: linear-gradient(180deg,rgba(19,135,249) 0%,#0E5FAD 100%);
	}
	.contact-from {
		width: 99%;
	}
	
	
	.highlights-block{
		width:50%;
		    flex: 0 0 auto;
	}
	.highlight-section {

     background-size: 311px 177px;
     background-position: 66px 149px;
	 min-height: inherit;
	}
	.highlight-section.spacing-section {
		padding: 1rem 0;
	}
	
	

	/* new add */
	.font-44{font-size:24px;	}

	/* new add */
	.about-company {clip-path: polygon(0% 0%,100% 3%,100% 100%,0% 100%);}
	.font-44{font-size:11px;}
	.abroadworks-process.scrollable{ margin-left:0; }

}
@media only screen and (max-width: 414px){
	/*#carousel-client .active.center {
    width: 346px !important;
    margin: 0 2rem;
	}*/
	.highlight-section {
    background-position: 100px 149px;
	}
	#carousel-client .owl-item.big-slide {
     right: 0px;
	}
	.overlay-content{
    left: 14%;
    width: 85%;
}
.top-navigation, .menu-social-menu-container{
	margin-left: 10px;
}
.menu-footer{width:100%;}
	.blue-box {
    width: 70px;
    height: 70px;
	
	}
	
	.equal-space {
    margin: 0 1.6rem;
}
}
@media only screen and (max-width: 375px){
		.blue-box {
    width: 70px;
    height: 70px;
	
	}

	.equal-space {
    margin: 0 1.6rem;
}
}
@media only screen and (max-width: 360px){
/*.client-say {
    height: 100vh;
}*/
	#carousel-client .owl-item.big-slide {
  width: 314px !important;
    height: auto;
	left:0;
}
.overlay-content{
    left: 15%;
    width: 85%;
}
.top-navigation, .menu-social-menu-container{
	margin-left: 10px;
}
.menu-footer{width:100%;}
	.blue-box {
    width: 44px;
    height: 44px;
	
	}
	.black-box {
		 width: 44px;
		height: 44px;
	}
	.equal-space {
    margin: 0 1.3rem;
	}
	#carousel-client .active.center {
    margin: 0 2rem;
	}
}
@media only screen and (max-width: 320px){
	#carousel-client .active.center {
    width: 320px!important;

   margin: 0 ; 
}
}